header > a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 0 10px
}

.mainHeadline {
    color: fuchsia;
}

.mainHeadline span {
    display: block;
    color: deepskyblue;
    font-size: 16px;
    line-height: 18px;
}

.auth-buttons {
    display: flex;    
    justify-content: end;
    padding: 20px;
    align-items: center;
}

.auth-buttons a {
    /* color: green; */
    text-decoration: none;
    padding: 10px;
}

.auth-buttons a:hover {
    text-decoration: underline;
}

/* .auth-buttons a.active {
    color: yellow !important;
} */