.nav {
    background: linear-gradient(to right, transparent, transparent, fuchsia);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: end;

        li {
            margin: 10px;

            a {
                color: white;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

