.nav {
    background: linear-gradient(to right, transparent, transparent, purple);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav li {
margin: 10px;
}

nav li a {
    color: lightblue;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

