.App {
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
  /* height: calc(100vh - 25px); */
  min-height: calc(100vh + 50px);
}

.App:before {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(peakpx.jpg) no-repeat right bottom;
  background-size: cover;
  margin: auto;
  z-index: -1;
  opacity: 0.3;
  background-attachment: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

article {
  max-width: 1000px;
  margin: 0 auto 20px;
  padding: 40px 20px;
}

button {
  background: none;
  color: white;
  background: rgba(0,0,0,0.2);
  border: 1px solid white;  
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s;
  text-transform: uppercase;
  box-shadow: 6px 6px 6px black;
}

button:hover {
  background: white;
  color: purple;
  border: 1px solid white;  
  transition: 0.3s;
  cursor: pointer;
}

h1, h2 { line-height: 1.1; }

h1 {
  font-size: 30px;
  
}

h2 {
  font-size: 24px;  
}